#what .items {
  display: block;
  padding: 1rem;
}

#what .items .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#what .items .item i {
  margin-right: 1.3rem;
}

/* Smartphones */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 1rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #who .who-text  {
    text-align: center;
  }

  #who .who-text h3 {
    margin-top: 2rem;
  }

  #clients .items img {
    width: 80%
  }

  #clients .items div:last-child{
    display: none;
  }

  #contact {
    display: flex;
    flex-direction: column;
  }

  #contact .map {
    height: 300px;
    border-top: 4px #333 solid;
    flex-basis: auto;
  }
  


}